<header>
  <div class="wrapper__innerHamburger hide">
  <ul class="hamburger__ul">
    <li class="hamburger__li"><a class="hamburger__a hamburger_active" routerLink="">Main Page</a></li>
    <li class="hamburger__li"><a id="actionA" class="hamburger__a" routerLink="/game">Action (set A)</a></li>
    <li class="hamburger__li"><a id="actionB" class="hamburger__a" routerLink="/game">Action (set B)</a></li>
    <li class="hamburger__li"><a id="animalA" class="hamburger__a" routerLink="/game">Animal (set A)</a></li>
    <li class="hamburger__li"><a id="animalB" class="hamburger__a" routerLink="/game">Animal (set B)</a></li>
    <li class="hamburger__li"><a id="clothes" class="hamburger__a" routerLink="/game">Clothes</a></li>
    <li class="hamburger__li"><a id="emotions" class="hamburger__a" routerLink="/game">Emotions</a></li>
    <li class="hamburger__li"><a id="house" class="hamburger__a" routerLink="/game">House</a></li>
    <li class="hamburger__li"><a id="outdoors" class="hamburger__a" routerLink="/outdoors">OutDoors</a></li>
    <li class="hamburger__li"><a class="hamburger__a" routerLink="/score">Score</a></li>
    <img src="./assets/img/exit.png" alt="exit" class=" exit">
    <button  class="btn hide" >Login</button>
  </ul>
  </div>
  <nav>
    <div class="hamburger__main">
      <span  class="header__hamburger hamburger">
        <span class="hamburger__line"></span>
      </span>
    </div>
    <div class="switch-button">
      <input (change)="GameService.renderButtonForGame()" value="checkbox" class="switch-button-checkbox" type="checkbox">
      <label class="switch-button-label" ><span class="switch-button-label-span">Train</span></label>
    </div>
  </nav>
</header>
<main>
  <div>
      <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div>
  <ul class="footer__ul">
    <li><a href="https://rs.school/js/"><img width="80px" height="80px" src="./assets/img/rsschoo.svg" alt="rsSchool"></a></li>
    <li><a href="https://www.linkedin.com/in/uladzimir-kublitskiy-2a87381ba/"><img width="70px" height="70px" src="./assets/img/linkedin.svg" alt="linkedIn"></a></li>
    <li><a href="https://github.com/VanWilder199"><p class="footer__text">VanWilder199</p></a></li>
    <li><p class="footer__text">2021</p></li>
  </ul>
  </div>
</footer>
