.favourite-cards {
  padding-top: 148px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
"coala coala panda"
"tiger lemur eagles";
  @include media-notebook {
    grid-template-areas:
  "coala coala"
  "panda lemur"
  "tiger eagles";
    grid-gap: 16px;
    padding-top: 49px;
    grid-template-columns: 52% 36%;
    grid-template-rows: 26% 36%;
  };
  @include media-tablet {
    display: flex;
    padding-top: 70px;
  };
  @include media-mobile {
    padding-top: 30px;
  }
}
img {
  border-radius: 5px;
}

.favourite__coala {
  grid-area: coala;
  border-radius: 5px;
  @include media-tablet {
    display: none;
  }
}
.favourite__panda {
  grid-area: panda;
  border-radius: 5px;

}
.favourite__tiger {
  grid-area: tiger;
  border-radius: 5px;
  @include media-tablet {
    display: none;
  }

}
.favourite__lemur {
  grid-area: lemur;
  border-radius: 5px;
  @include media-tablet {
    display: none;
  }

}
.favourite__eagles {
  grid-area: eagles;
  border-radius: 5px;
  @include media-tablet {
    display: none;
  }
}

.favourite-title {
  width: 655px;
  height: 132px;
  color: $color-topic-btn;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  @include media-tablet {
    width: 600px;
  };
  @include media-mobile {
    width: auto;
    height: auto;
  }
}

.favourite-text {
  padding-top: 50px;
  width: 537px;
  height: 65px;
  @include font($size: 2.6rem, $height: 3.4rem, $weight:500);
  color: $color-text-main;
  margin: 0 auto;
  text-align: center;
  @include media-notebook {
    padding-top: 30px;
    height: auto;
  };
  @include media-tablet {
    width: auto;
  };
  @include media-mobile {
    @include font($size: 1.8rem, $height: 2.7rem, $weight:normal);
  }
}

.favourite-btn {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  @include media-notebook {
    margin-top: 67px;

  }
  @include media-tablet {
    margin-top: 50px;
  }
}

.touchtheAnimal {
  margin: 134px 0 145px  0;
  width: 1400px;
  height: 652px;
  @include media-notebook {
    display: none;
  }
}
.touchtheAnimal__img {
  display: none;
  @include media-notebook {
    display: block;
    background-image: url("../../assets/images/favouriteAnimals/touchTheAnimal.jpg");
    background-repeat: no-repeat;
    height: 668px;
    margin: 152px 0 148px 0;
  }
  @include media-tablet {
    margin: 100px 0 100px 0;
    width: 100%;
    height: 379px;
    background-size: 125%;
  };
  @include media-mobile {
    margin: 80px 0 80px 0;
    height: 189px;
    background-size: 125%;
  }
}

.favourite_Active {
  @include media-notebook {
    display: none;
  }
}

.faviurite_ActiveNoteboook {
  display: none;
  @include media-notebook {
    display: block;
  }
}


.favourite-carusel {
  @include media-tablet {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  };
  @include media-mobile {
    padding-top: 30px;
  }

}
.favourite_link {
  @include media-tablet {
    display: flex;
  }
  @include media-mobile {
    display: block;
    height: 100%;
  }
}

.favourite__carusel {
  @include media-tablet {
    width: 8px;
    height: 8px;
    margin: 0px 20px;
    border: 1px solid $color-text-main;
    border-radius: 50%;
  }
}

.favourite__caruselActive {
  @include media-tablet {
    background-color: $color-text-main;
  }
}

.button__chooseYourFavouriteActive {
  @include media-mobile {
    font-size: 1.6rem;
    padding: 9px 24px 8px 23px;
    display: flex;
  }
}