.carusel {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-left: 124px;
  @include media-notebook {
    padding-left: 0px;
    padding-top: 30px;
  }
  @include media-tablet {
    padding-bottom: 80px;
  };
  @include media-mobile {
    padding: 0 ;
    margin-left: -65px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.iframe_border {
  border-radius: 5px;
}
.iframe__small {
  @include media-notebook {
    width: 265px;
    height: 209px;
  };
  @include media-tablet {
    width: 132px;
    height: 104px;
  }
  }

.ytp-title-channel-logo {
  display: none;
}

.iframe__little {
  width: 320px;
  height: 209px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  @include media-notebook {
    width: 265px;
    height: 209px;
  }
  @include media-tablet {
    width: 135px;
    height: 108px;
  };
  @include media-mobile {
    width: 138px;
    height: 110px;
  }
}

.ico__cam2 {
  background-image: url("../../../assets/icons/carusel-camera/camera2.svg");
  position: absolute;
  width: 189px;
  height: 44px;
  left: 0;
  z-index: 1;
  top: 0;
}
.ico__cam1 {
  background-image: url("../../../assets/icons/carusel-camera/camera1.svg");
  position: absolute;
  width: 189px;
  height: 44px;
  left: 0;
  z-index: 1;
  top: 0;
}
.ico__cam3 {
  background-image: url("../../../assets/icons/carusel-camera/camera3.svg");
  position: absolute;
  width: 189px;
  height: 44px;
  left: 0;
  z-index: 1;
  top: 0;
}

.ico__cam1, .ico__cam2, .ico__cam3 {
  @include media-tablet {
    width: 72px;
    height: 22px;
    background-size: 72px 22px;
  }
}


.carusel_padding {
  margin: 0 40px;
  @include media-notebook {
    margin: 0 20px;
  };
  @include media-mobile {
    margin: 0 30px;
  }
}

.hide {
  display: none;
}

.size_first {
  height: 80px;
}