

.didYouKnow-text {
  width: 1040px;
  margin-left: calc(100% - 84%);
  text-align: center;
  background-color: $color-text-alternative;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 150px;
  @include media-notebook {
    width: 930px;
    margin: 100px 135px 0 135px;
  };
  @include media-tablet {
    margin: 0 auto;
    width: 600px;
    margin-top: 80px;
  };
  @include media-mobile {
    width: auto;
    margin: 50px 10px 0 10px;
  }
}

.text__title {
  color: $color-topic-btn;
  text-transform: uppercase;
  padding-top: 46px;;
  @include media-mobile {
    padding: 30px 10px 0 10px;
  }
}

.text__decription {
  color: $color-text-main;
  padding-top: 20px;
  @include font($size: 2.6rem, $weight: 500, $height: 3.4rem);
  width: 919px;
  margin: 0 auto;
  padding-bottom: 50px;
  @include media-tablet {
    width: auto;
    padding: 30px 30px 50px 30px;
  };
  @include media-mobile {
    padding: 30px 10px 50px 10px;
    @include font($size: 1.8rem, $weight: normal, $height: 2.7rem);
  }

}

.descriptionAnimals {
  display: flex;
  padding-top: 140px;
  @include media-notebook {
    padding: 100px 40px 0 40px;
  };
  @include media-tablet {
    flex-direction: column-reverse;
    padding: 0;
  }

}

.descriptionAnimals_eagles {
  padding-top: 155px;
}
.DidYouKnow-img {
  padding-left: 184px;
  @include media-notebook {
    padding-left: 0;
  }
  @include media-tablet {
    padding-top: 80px;
    align-self: center;
    padding-left: 0;
  };
  @include media-mobile {
    padding-top: 50px;
  }
}
.DidYouKnow__img {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  @include media-mobile {
    width: 320px;
    height: 320px;
  }
}

.descriptionAnimals__main {
  @include media-tablet {
    padding-top: 80px;
  };
  @include media-mobile {
    padding: 50px 10px 0 10px;
  }
}


.descriptionAnimals__mainText {
  @include font($size: 2.6rem, $weight: 500, $height: 3.4rem);
  color: $color-text-main;
}
.descriptionAnimals__secondText {
  @include font($size: 1.8rem,  $height: 2.7rem);
  color: $color-text-main;
  margin-top: 6px;
  margin-left: 10px;
  @include media-mobile {
    margin: 0;
  }
}

.descriptionAnimals__li {
  display: flex;
  @include media-mobile {
    flex-direction: column;
  }

}
.descriptionAnimals__padding {
  padding-top: 20px;
}

.didYouKnow-text-down {
  padding-top: 45px;
  @include font($size: 1.8rem,$weight: 400,  $height: 2.7rem);
  color: $color-text-main;
  padding-bottom: 150px;
  width: 1160px;
  @include media-notebook {
    padding: 50px 40px 100px 40px;
  };
  @include media-tablet {
    width: auto;
    padding: 50px 0 0 0;
  };
  @include media-mobile {
    padding: 30px 10px 80px 10px;
  }
}

.buttonMobile {
  display: none;
  @include media-mobile {
    display: block;
  }
}