.quickDonate {
  margin-top: 150px;
  background-color: $color-background;
  @include media-notebook {
    margin-top: 100px;
  };
  @include media-tablet {
    margin-top: 0px;
  }
 }



.quickDonate-title {
 color: $color-text-alternative;
  padding-top: 50px;
  text-transform: uppercase;
}

.quickDonate-text {
  color: $color-text-alternative;
  width: 873px;
  padding: 20px 0 46px;
  @include font($size: 1.8rem, $height: 2.7rem);
  @include media-notebook {
    width: 739px;
  };
  @include media-tablet {
    width: 599px;
    padding: 30px 0 0 0;
  };
  @include media-mobile {
    width: auto;

  }
}
.quickDonate-text__eagles {
  width: 919px;
}


.quickDonateBtn-title {
  color: $color-text-alternative;
  padding: 52px 0 10px;
  @include font($size: 2.6rem, $height: 3.4rem);
  @include media-tablet {
    padding: 30px 0 10px;
  }
}

.quickDonateBtn {
  @include media-tablet {
    padding-bottom: 50px;
  }
}

