.sidebar {
  width: 220px;
  height: 846px;
  background-color: $color-background;
  position: sticky;
  top: 0;
  @include media-notebook {
    width: 115px;
  };
  @include media-tablet {
    width: 78px;
    height: 500px;
  };
  @include media-mobile {
    width: 50px;
    height: 300px;
    z-index: 2;
  }
}
.sidebarOpen {
  width: 300px;
  @include media-tablet {
    width: 233px;
  }
}

.sidebar__live {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-link-header;
  @include font($size: 1.8rem, $height: 2.2 rem, $weight: 600);
  text-transform: uppercase;
  color: $color-text-alternative;
  border-radius: 0px 0px 5px 0px;
  padding: 8px 0px 8px 24px;
  @include media-notebook {
    visibility: hidden;
  }
  @include media-tablet {
    padding: 12px 0 0 0;
    text-align-last: center;
  };
  @include media-mobile {
    padding: 0;
  }

}

.live {
  background-image: url("../../../assets/icons/sidebar/live.svg") ;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  margin-left: 10px;
  @include media-notebook {
    visibility: hidden;
  }
}
.liveOpen {
  background-image: url("../../../assets/icons/sidebar/live.svg") ;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  margin-left: 10px;
}

.arrow {
  position: relative;
  left: 60px;
  top: 19px;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 1.9rem;
  transform: scaleY(1.5);
  cursor: pointer;
  @include media-notebook {
    visibility: visible;
    left: 18px;
    top: 0px;
  };
  @include media-tablet {
    left: -15px;
    top: -27px;
  };
  @include media-mobile {
    left: -2px;
    top: -36px;
  }

};
.arrowOpen {
  left: 145px;
  transform: scaleY(1.5) rotate(180deg);
  cursor: pointer;
}

.animals__wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-tablet {
    padding-top: 46px;
  }
}

.sidebar__panda {
  background-image: url("../../../assets/icons/sidebar/PandaClose.svg");
  @include media-notebook {
    background-image: url("../../../assets/icons/sidebar/responsive/Panda.svg");
  };
  @include media-tablet {
    background-size: 40px 30px;
  };
  @include media-mobile {
    background-size: 26px 16px;
  }
}

.sidebar__crocodil {
  background-image: url("../../../assets/icons/sidebar/alligator.svg");
}
.sidebar__crocodilOpen {
  background-image: url("../../../assets/icons/sidebar/aligatorOpen.svg");
}
.sidebar__lion {
  background-image: url("../../../assets/icons/sidebar/lion.svg");
}
.sidebar__lionOpen {
  background-image: url("../../../assets/icons/sidebar/lionOpen.svg");
}
.sidebar__pandaOpen {
  background-image: url("../../../assets/icons/sidebar/Panda.svg");
}
.sidebar__coala {
  background-image: url("../../../assets/icons/sidebar/coala.svg");
}
.sidebar__coalaOpen {
  background-image: url("../../../assets/icons/sidebar/coalaOpen.svg");
}
.sidebar__tiger {
  background-image: url("../../../assets/icons/sidebar/tiger.svg");
}
.sidebar__tigerOpen {
  background-image: url("../../../assets/icons/sidebar/tigerOpen.svg");
}



.sidebar__eagles {
  background-image: url("../../../assets/icons/sidebar/EagleClose.svg");
  @include media-notebook {
    background-image: url("../../../assets/icons/sidebar/responsive/Eagle.svg");
  };
  @include media-tablet {
    background-size: 40px 30px;
  };
  @include media-mobile {
    background-size: 26px 16px;
  }
}

.sidebar__eaglesOpen {
  background-image: url("../../../assets/icons/sidebar/responsive/Eagle.svg");
}

.sidebar__gorilla {
  background-image: url("../../../assets/icons/sidebar/GorillaClose.svg");
  @include media-notebook {
    background-image: url("../../../assets/icons/sidebar/responsive/Gorilla.svg");
  };
  @include media-tablet {
    background-size: 40px 30px;
  };
  @include media-mobile {
    background-size: 26px 16px;
  }
}

.sidebar__gorillaOpen {
  background-image: url("../../../assets/icons/sidebar/responsive/Gorilla.svg");
}

.sidebar__lemur {
  background-image: url("../../../assets/icons/sidebar/LemurClose.svg");
  @include media-notebook {
    background-image: url("../../../assets/icons/sidebar/responsive/Lemur.svg");
  };
  @include media-tablet {
    background-size: 40px 30px;
  };
  @include media-mobile {
    background-size: 26px 16px;
  }
}

.sidebar__lemurOpen {
  background-image: url("../../../assets/icons/sidebar/responsive/Lemur.svg");
}

.animals__line {
  display: block;
  width: 100%;
  border: 1px solid $color-text-alternative;

}

.sidebar-border_active {
  border: 1px solid $color-text-alternative;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $color-text-alternative;
  margin: 8px 8px;
  @include media-notebook {
    background-color: $color-background;
    border: none;
    box-shadow: none;
  }
}

.sidebar__border {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid $color-link-header;
  background-color: $color-link-header;
  border-radius: 50%;
  margin: 25px 58px;
  @include media-notebook {
    box-shadow: none;
    border: none;
    margin: 0;
    background-color: $color-background;
  }
}

.sidebar_border-active {
  border: 3px solid $color-text-alternative;
  border-radius: 50%;
  margin: 25px 50px;
  @include media-notebook {
    border: none;
    margin: 0;
  }
}
.sidebar_border-activeOpen {
  border: none;
  display: flex;
  align-items: center;
  margin: 51px 50px;
  border-radius: 0%;
  @include media-tablet {
    margin: 15px ;
  }
}

.sidebar_borderOpen {
  margin: 45px 17px 46px 33px;
  border: none;
  background-color: inherit;
  box-shadow: none;
  display: flex;
  align-items: center;
  @include media-tablet {
    margin: 15px 10px 16px 18px;
  }
}
.sidebar__area {
  width: 65px;
  height: 61px;
  padding: 51px 51px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include media-notebook {
    box-shadow: none;
    padding: 83px 58px;
  };
  @include media-tablet {
    padding: 50px 38px;
    margin: 0;
  };
  @include media-mobile {
    height: auto;
    width: 50px;
    padding: 26px 0;
  }
}
.sidebar__scroll {
  @include media-tablet {
    position: relative;
  }
}

.arrowSingle {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 2.2rem;
  cursor: pointer;
  transform: rotate(90deg) scaleY(1.5);;
  padding: 67px 0 0 0;
  margin-left: 148px;
  @include media-notebook {
    padding: 40px 0 0 0;
    margin-left: 75px;
  };
  @include media-tablet {
    position: absolute;
    left: -13px;
    top: -9px;
  };
  @include media-mobile {
    left: -27px;
    top: -17px;
  }
}

.arrowSingleOpen {
  margin-left: 180px;
  padding-top: 66px;
}

.ico__tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.ico__tooltip:hover {
  .ico__tooltipText {
    visibility: visible;
  }
}

.aside-menu__desc {
  width: 170px;
  color: $color-text-alternative;
  padding-left: 25px;
  @include media-tablet {
    padding-left: 12px;
    width: 157px;
  }
}


.sidebar_Open {
  padding: 0;
  border: none;
  background-color: inherit;
  box-shadow: none;
  border-radius: inherit;
  margin: 0;
}

.main {
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 680px;
  position: relative;
}

.item__list {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.to-down {
  display: none;
}

.item {
  animation: 0.5s ease-in-out;
}