.reviews__cards {

  width: 515px;
  height: 956px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  @include media-tablet {
    width: 523px;
    height: 373px;
    text-align: center;
  };
  @include media-mobile {
    width: 300px;
    height: 549px;
  }
}
.wrap__card {
  @include media-tablet {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: flex-start;
  }
  @include media-mobile {
    display: block;
    padding: 0;
  }
}
.cards__content {
  padding: 20px 50px 70px 50px;
  margin-top: 30px;
  background-color: $color-text-alternative;
  cursor: pointer;

  @include media-tablet {
    padding: 0;
  }
}
.card__img {
  @include media-mobile {
    margin-left: -171px;
    padding-top: 20px;
  }
}
.cards__title {
  padding-top: 12px;
  @include font($size: 2.6rem, $weight: 500, $height: 3.4rem);
  color: $color-text-main;
  text-transform: capitalize;
  @include media-tablet {
    padding: 50px 73px 0px 5px;
    width: 289px;
    margin-left: 66px;
    margin-top: -30px;
  };
  @include media-mobile {
    padding: 0;
    margin: 0;
  }
  }


.cards__text {
  padding-top: 20px;
  @include font($size: 1.8rem, $height: 2.7rem);
  color: $color-text-main;
  @include media-tablet {
    padding: 30px 30px 0px 30px;
  }
}

.cards__author {
  padding-top: 46px;
  @include font($size: 1.8rem, $height: 2.2rem,$weight: 600);
  color: $color-text-main;
  text-transform: uppercase;
}

.flex {
  display: flex;
  margin-top: 30px;
}