.favourite__wrapper {
  max-width: 1400px;
  margin-top: 136px;
  @include media-notebook {
    margin-top: 150px;
    padding: 0 134px;
  };
  @include media-tablet {
    margin-top: 80px;
  };
  @include media-mobile {
    margin-top: 50px;
    padding: 0 10px;
  };
}
