.howItWorks {
  margin-top: 44px;
  @include media-notebook {
    margin-top: 61px;
  }
  @include media-tablet {
    margin-top: 100px;
  };
  @include media-mobile {
    margin-top: 50px;
  }
}

.howItWorks__wrapper {
  max-width: 1400px;
  @include media-tablet {
    padding: 0;
  }
}

.welcome {
  display: flex;
  @include media-notebook {
    flex-direction: column-reverse;
  };

}
.work {
  display: flex;
  flex-direction: row-reverse;
  @include media-notebook {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.work-content {
  @include media-notebook {
    padding-left: calc(34% - 30px);
  };
  @include media-tablet {
    padding-left: 0;
  }
}