.promo__wrapper {
  max-width: 1400px;
  @include media-notebook {
    padding-left: 40px;
  };
  @include media-tablet {
    padding-left: 20px;
    margin: 20px 0 0 0;
    position: relative;
    z-index: 1;
  };
  @include media-mobile {
    padding: 20px 10px 0 10px;
    margin: 20px 0 0 0;
  }
}
.promo {
  padding-bottom: 40px;
  @include media-tablet {
    padding-bottom: 0;
  };
}

