<div class="container__btn">
 <a  class="linkScore" routerLink="/score/repeatDifficult">Repeat difficult words</a>
  <button class="button_reset reset">Reset</button>
</div>
<div class="container">
  <table  class="table-score">
    <caption>Score</caption>
    <thead>
    <tr>
      <th class="sort_up" data-type="string">word</th>
      <th class="sort_up" data-type="string">translate</th>
      <th class="sort_up" data-type="number">train clicks</th>
      <th class="sort_up" data-type="number">correct answer</th>
      <th class="sort_up" data-type="number" >error answer</th>
      <th class="sort_up" data-type="number">% errors</th>
    </tr></thead>
    <tbody >
      <tr *ngFor="let iterCard of cardArray">
        <td>{{iterCard.word}}</td>
        <td>{{iterCard.translation}}</td>
        <td>{{iterCard.trainClick}}</td>
        <td>{{iterCard.rightAnswer}}</td>
        <td>{{iterCard.errorAnswer}}</td>
        <td>{{errorCount(iterCard)}}%</td>
      </tr>
    </tbody>
  </table>
</div>
