$content-tablet: 768px;
@mixin media-tablet {
  @media (max-width: $content-tablet) { @content;}
};
.sort_up{
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url('../../assets/icon/increasearrow.png');
    background-size: cover;
    @include media-tablet {
      bottom: -4px;
      left: 43%;
    }
  }
}
.sort_down{
  &::after {
    position: absolute;
    transform: rotate(180deg);
    content: "";
    width: 20px;
    height: 20px;
    background: url('../../assets/icon/increasearrow.png');
    background-size: cover;
    @include media-tablet {
      bottom: -4px;
      left: 43%;
    }
  }
}
.table-score {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  & tr {
    display: flex;
  }
  & th {
    color: #fff;
    cursor: pointer;
    user-select: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,103,1) 66%, rgba(0,212,255,1) 100%);
    position: relative;

  }
}
.table-score td, .table-score th {
  width: 16%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #ccc;
  @include media-tablet {
    font-size: 12px;
    padding: 10px 0;
  }
}
th:hover{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,9,121,1) 66%, rgba(0,212,255,1) 100%);
}
.container {
  overflow-x: auto;
  margin-top: 70px;
}
.container__btn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}
caption {
  font-size: 48px;
  margin: .5em 0 .75em;
  color: white;
}


