html {
  font-size: 10px;
}

body {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6 rem, $weight: normal);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  display: none;
}

h2 {
  @include font($size:8.2rem, $height: 10rem, $weight: 800);
  margin: 0;
}

h3 {
  @include font($size: 5.4rem, $height: 6.6rem, $weight: 600);
  margin: 0;
  @include media-tablet {
    @include font($size: 4.2rem, $height: 4.6rem, $weight: 500);
  };
  @include media-mobile {
    @include font($size: 2.6rem, $height: 3.2rem, $weight: 500);
  }
}

h4 {
  @include font($size: 4.2rem, $height: 5.1rem, $weight: 500);
  margin: 0;
  @include media-mobile {
    @include font($size: 2.6rem, $height: 3.2rem, $weight: 500);
  }
}

p {
  margin: 0;
  @include font($size: 1.8rem, $height: 2.3rem, $weight: normal);
  @include media-mobile {
    @include font($size: 1.4rem, $height: 1.7rem, $weight: normal);
  };
}

a {
  text-decoration: none;
  color: $color-text-alternative;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}