input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-text-alternative;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input__form {
  border-radius: 5px;
  position: relative;
  width: 320px;
  height: 74px;
  border: 1px solid $color-text-alternative;
  @include media-mobile {
    width: 300px;
    height: 45px;
  }
}

.input {
  @include font($size: 1.8rem, $weight: 600, $height: 2.2rem);
  text-transform: uppercase;
  color: $color-text-alternative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-indent: 28px;
  background-color: $color-background;

}

.input_i {
  position: absolute;
  color: white;
  top: 26px;
  left: 22px;
  @include media-mobile {
    top: 11px;
    left: 22px;
  }
}

.input-quickDonateBtn__btn {
  position: absolute;
  width: 79px;
  height: 72px;
  left: calc(50% - 80px/2 + 120px);
  top: calc(50% - 74px/2);
  cursor: pointer;
  border-radius: 6px;
  @include media-mobile {
    width: 58px;
    height: 45px;
    left: calc(50% - 57px/2 + 119.5px);
    top: calc(50% - 45px/2);
  }
}

.arrowRightButton {
  position: absolute;
  width: 26px;
  height: 22px;
  background-image: url("../../../assets/icons/arrowRightButton.svg");
  background-repeat: no-repeat;
  display: inline-block;
  left: 262px;
  top: 25px;
  cursor: pointer;;
  @include media-mobile {
    left: 257px;
    top: 11px;
  }
}
